@charset "utf-8";
/* CSS Document */
/* common */
@charset "utf-8";
/* CSS Document */
body{margin:0 auto;padding:0;font-size:12px;font-family:'Microsoft Yahei';color:#505050;-webkit-text-size-adjust:none;background:#fff;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,input,button,textarea,p,th,td{margin:0px;padding:0px;}
input,select{font-size:12px;line-height:20px;height:20px;}
input{ letter-spacing:normal; word-spacing:normal; text-transform:none; text-indent:0; text-shadow:none; display:inline-block; text-align:start;}
img{border:0;-ms-interpolation-mode:bicubic;}
ul,li{list-style-type:none;}
:focus{outline:0;}
h2,h3,h4{font-size:14px;font-family:"Microsoft Yahei";}
h5{font-size:12px;font-weight:normal;}
a{color:#505050;text-decoration:none;}
a:hover{color:#fa7106;text-decoration:underline;}
.clearfix:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
i,em {font-style: normal;}
.clearfix{zoom:1;}
.clear{ clear: both;}
/* comm */
.fl{float:left; display: inline;}
.fr{float:right; display: inline;}
.red{color:#ba3022;}
.org{color:#fa7106;}
.green{color:#14a814;}
.blue{color:#135bad;}
.gray {color:#888;}
.bold{font-weight:bold;}
.fz12{font-size:12px;}
.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mr10{margin-right:10px;}
.w1000 {width:1000px; margin:0 auto; overflow: hidden;}
.list24 li{height:24px;line-height:24px;background:url(../images/cngold_sprite.png) -657px -77px no-repeat;text-indent:13px;overflow:hidden;}
.list24 li span{float:right;font-size:10px;font-family:Arial;color:#a0a0a0;}
.list28 li{height:28px;line-height:28px;background:url(../images/cngold_sprite.png) -655px -74px no-repeat;text-indent:15px;overflow:hidden; font-size:14px; color:#ccc;}
.list30 li{height:30px;line-height:30px;background:url(../images/cngold_sprite.png) -655px -74px no-repeat;text-indent:15px;overflow:hidden;}
.row2 li{width:49%;float:left;}
.row3 li{width:32%;float:left;}
.row4 li{width:24%;float:left;}
/* top */
.tgheader_topbg{background:#3B6FB3;border-bottom:1px solid #145AA3;height:35px;margin-bottom:1px;overflow:hidden;}
.tgheader_top{width:1000px;margin:0 auto;color:#fff;line-height:35px;}
.tgheader_top a,.tgheader_top a:hover{color:#fff;font-family:Arial;}
.w240 { width:240px;}
.w360 { width:360px;}
.w120 { width:120px;}
.tghead_setlink{float:right;}
.tghead_setlink a{ float:left; height:35px; color:#fff;}
.tghead_setlink a i { float:left; width:13px; height:19px; background:url(../images/hjtd_tgspec_setlink.png) no-repeat; margin:8px 6px 0px 10px;}
.tghead_setlink a i.i02 { background-position:0px -20px;}
.tghead_setlink a:hover{background:#145AA3;text-decoration:none;_text-decoration:underline;}
/* nav */
.tgheader_nav { width:100%; background:#fff; height:67px; overflow:hidden;}
.tgheader_navcon { width:1000px; margin:0 auto; position:relative;}
.tgheader_navcon h1 {width:200px; height:41px; float:left; background:url(../images/huangjintd_tglogo.png) 0px 0px no-repeat; margin-top:13px;}
.tgheader_navcon h1 a {width:190px; height:41px; display:block; text-indent:-9999px;}
.tgheader_navcon p.ztn { float:left; width:120px; height:54px; font:normal 24px/50px "Microsoft YaHei"; margin:8px 0px 0px 12px;}
.tgheader_navcon ul { float:right; width:630px; height:67px; font-family:"Microsoft Yahei"; font-size:16px; line-height:65px;}
.tgheader_navcon ul li { float:left;}
.tgheader_navcon ul li a { float:left; height:65px; width:90px; text-align:center; color:#333; position:relative;}
.tgheader_navcon ul li a em { position:absolute; top:33px; left:42px; font-size:20px; color:#f9f9f9; font-style:normal;}
.tgheader_navcon ul li a:hover,.tgheader_navcon ul li a.aon { text-decoration:none; color:#b91818; border-bottom:2px solid #b91818;}
.tgheader_navcon ul li a:hover em,.tgheader_navcon ul li a.aon em { color:#b91818;}
/* footer */
.tgfooter{width:100%;height:auto;background:#F0F0F0;border-top:1px solid #E6E6E6; padding-bottom:120px; margin-top:30px;}
.tgfoot_menu{width:960px;margin:10px auto;height:30px;line-height:30px;overflow:hidden;clear:both;text-align:center;}
.tgfoot_menu a { display:inline-block; margin:0px 10px; color:#333;}
.tgcopyright{width:960px;margin:0 auto;font-family:Arial,Helvetica,sans-serif;padding:5px 0 20px 0;clear:both;overflow:hidden;text-align:center;color:#999;line-height:25px;}
.tgfooter_no { padding-bottom:0; margin-top:0;}
/* 20150710新增头部和底部区别样式 */
.tgheader_navcon.k99_tglogo h1 { background:url(../images/24k99_tglogo.png) 0px 0px no-repeat;}
.tgheader_navcon.au99_tglogo h1 {background:url(../images/au99_tglogo.png) 0px 0px no-repeat;}
.tgheader_navcon.au99_tglogo h1,.tgheader_navcon.au99_tglogo h1 a { width:140px;}
.tgheader_navcon.baiyinwang_tglogo h1 {background:url(../images/baiyinwang_tglogo.png) 0px 0px no-repeat;}
.tgheader_navcon.baiyinwang_tglogo h1,.tgheader_navcon.baiyinwang_tglogo h1 a { width:130px;}
.tgheader_navcon.au99_tglogo ul ,.tgheader_navcon.baiyinwang_tglogo ul { width:700px;}
.tgheader_navcon.au99_tglogo ul li a ,.tgheader_navcon.baiyinwang_tglogo ul li a { width:100px;}
.tgcopyright.tgcopyright02 { padding-top:20px;}
/* 20150820新增合作银行媒体机构 */
.cooperation { text-align:center;}
.coop_tit { height:40px; font:bold 18px/40px "Microsoft YaHei"; margin-bottom:10px;}
.coop_tit li { float:left; width:33.3%;}
.c_white { color:#fff;}
.c_black { color:#505050;}
.c_gray { color:#999;}
.mt20 { margin-top:20px;}
.mt30 { margin-top:30px;}
.pt20 { padding-top:20px;}
.coop_titgray01 { border-bottom:1px solid #d2d2d2; box-shadow:0px 1px 1px #fff;}
.coop_titgr02 { border-bottom:2px solid #d2d2d2;}
.coop_titred { border-bottom:3px solid #b91818;}
.coop_titred02 { border-bottom:2px solid #b91818;}
.coop_titblue { border-bottom:3px solid #42609a;}
.coop_con {}
.coop_con li { float:left; width:33.3%;}
.coop_con img { display:inline-block; width:130px; height:43px; padding:1px; border:0; margin:8px 4px 0px; }
.coop_con_bgray img { background:#dcdcdc;}
.coop_con_bwhite img { background:#fff;}
/*悬浮咨询*/
.fdright_con3{ height:124px; width:90px;position:fixed;right:8px;top:450px;right:8px;*position:absolute;*top:expression(offsetParent.scrollTop+450); z-index:99;}
.fdright_con3 li a{ display:block; height:124px; width:90px; background: url(../images/188.png) no-repeat 0 -1358px; color:#2d7ebd;}
.fdright_con3 li span{ display:block; height:34px; line-height:34px; text-align:center;padding-top:90px; font-size:16px;}
.fdright_con3 li a:hover{ text-decoration:none; background-position:-97px -1358px; color:#f56e08;}
/*底部浮动广告*/
html { _background-image: url(../css/.com/css/about:blank);  _background-attachment: fixed; }
.advfooter { position:fixed; bottom:0; width:100%; height:80px; left:0; background:url(../images/gppsq_bottombg.png) repeat; z-index:999; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight));}
.advfootercon { width:960px; margin:0 auto; height:80px; position:relative;}
.advfootercon .advclose { position:absolute; width:31px; height:31px; background:url(../images/adv_close1208.png) no-repeat; right:0px; top:-12px; cursor:pointer;}