@charset "utf-8";

/* CSS Document */

body { background:url(./images/gppsq_body_bg.jpg) repeat;}

.constant { width:100%; height:auto; background:url(./images/gppsq_constant_bg.jpg) center top no-repeat; position:relative; overflow:hidden;}

/* banner */

.banner { width:1000px; margin:0 auto; height:500px; position:relative;}

.banner_bg ,.banner_h1 ,.banner_h2 ,.banner_btn ,.banner_copy ,.banner_star ,.banner_copy .bcopy {position:absolute; z-index:2;}

.banner_bg { top:0; left:9px; width:1029px; height:500px; background:url(./images/gppsq_banner_bg.png) 0 0 no-repeat; text-indent:-999em; z-index:1; overflow:hidden;}

.banner_h1 { top:36px; left:78px; width:844px; height:68px; background:url(./images/gppsq_banner_bg.png) 0 -501px no-repeat; text-indent:-999em; overflow:hidden;}

.banner_h2 { top:138px; left:121px; width:759px; height:54px; line-height:54px; text-align:center; font-size:30px; color:#543300; background:url(./images/gppsq_banner_bg.png) 0 -570px no-repeat; overflow:hidden;}

.banner_h2 span { font-size:20px; color:#805108; padding-left:10px; overflow:hidden;}

.banner_star { width:535px; height:110px; top:8px; left:410px; text-indent:-999em; display:block; z-index:4; background:url(./images/gppsq_banner_bg.png) 0 -624px no-repeat;}

.banner_btn { display:block; top:216px; left:328px; width:344px; height:90px;  }

.banner_btn a { display:block; width:100%; height:100%; line-height:80px; font-size:30px; color:#fff; text-align:center;background:url(./images/gppsq_banner_bg.png) -685px -644px no-repeat;}

.banner_btn a:hover { text-decoration:none; color:#ff0;}

.banner_copy { top:325px; left:298px; font-size:24px; line-height:30px; color:#502900;}

.banner_copy .bcopytext { border:0; background:none; font-size:24px; height:18px; padding:6px 0; color:#502900;}

.banner_copy .bcopy { top:-2px; left:350px; display:block; width:77px; height:30px; background:url(./images/gppsq_section_allbg.png) -833px -431px no-repeat; cursor:pointer; text-indent:-999em; overflow:hidden;}

/* main */

.main { width:910px; padding:40px 45px 0px; margin:0 auto;}

.w160 { width:160px;}

.w185 { width:185px;}

.section { height:417px; position:relative; margin-bottom:80px; background:url(./images/gppsq_section_allbg.png) 0 0 no-repeat;}

.section.no { margin-bottom:50px; *margin-bottom:25px; }

.section_tit { position:absolute; top:-20px; left:210px; width:492px; height:67px; line-height:60px; font-size:36px; color:#fff; font-weight:normal; text-align:center; background:url(./images/gppsq_section_allbg.png) 0 -561px no-repeat; overflow:hidden;}

.section_tit.title01 { left:285px;}

.section_tit.title02 { left:115px;}

.section_tit span { display:block; height:35px; overflow:hidden; text-indent:-999em; margin:14px auto 0;}

.section_tit span.stit01 { width:389px; background:url(./images/gppsq_section_allbg.png) 0 -764px no-repeat;}

.section_tit span.stit02 { width:404px; background:url(./images/gppsq_section_allbg.png) -506px -567px no-repeat;}

.section_tit span.stit03 { width:189px; background:url(./images/gppsq_section_allbg.png) -392px -764px no-repeat;}

.section_tit span.stit04 { width:325px; background:url(./images/gppsq_section_allbg.png) -583px -764px no-repeat;}

/* con common */

.con_text { font-size:20px; line-height:36px; color:#502900; position:relative; z-index:3;}

.con_pcopy { color:#b63b00; width:325px; height:28px; background:#f1d9b6; border:1px dotted #b63b00; font-size:20px; border-radius:15px; overflow:hidden; text-align:center;}

.con_pcopy i.fl { padding-left:20px;}

.con_pcopy input { border:0; width:120px; text-align:center; padding:10px 0; margin:0; height:18px; font-size:20px; color:#b63b00; background:none;}

.con_pcopy span, .con_pcopy a { float:right; width:80px; height:26px; line-height:26px; margin:1px 1px 0 0; background:#b63b00; border-radius:14px; overflow:hidden; color:#fff; text-align:center; font-size:18px; cursor:pointer;}

/* con01 */

.con01 { padding:50px 0px 0 85px;}

.con01 dt { float:left; width:151px; height:319px; background:url(./images/gppsq_con_ppbg.png) 0 0 no-repeat; text-indent:-999em; overflow:hidden;}

.con01 dd { float:right; width:590px; padding:10px 0 0 0;}

.con01 dd strong { display:block; font-size:24px; font-weight:bold; line-height:40px;}

.con01 dd b { font-size:40px; color:#b63b00; line-height:60px;}

/* con02 + con04 */

.con02_4 { padding:65px 0 0 40px;}

.con02_4 dt { text-align:center;}

.w650 { width:650px;}

.con02_4 dt b { font-size:22px;}

.con02_4 dd { position:absolute;}

.con02_4 dd.pp_img { width:182px; height:308px; top:-60px; right:110px; z-index:2; text-indent:-999em; background:url(./images/gppsq_con_ppbg.png) -152px 0 no-repeat; overflow:hidden;}

.con02_4 dd.hb_img { width:763px; height:132px; left:74px; bottom:166px; z-index:2; background:url(./images/gppsq_section_allbg.png) 0 -630px no-repeat; overflow:hidden; text-indent:-999em;}

.con02_4 dd.qq_box { width:829px; height:115px; padding-top:26px; left:40px; bottom:38px; background:url(./images/gppsq_section_allbg.png) 0 -418px no-repeat; overflow:hidden; z-index:1;}

.con02_4 dd.qq_box .ptext { font-size:24px; line-height:30px; text-align:center; color:#333;}

.con02_4 dd.qq_box .ptext b { color:#b63b00;}

.con02_4 .box_btns { width:600px; margin:0 auto;}

.con02_4 .box_btns .btn { float:left; width:245px; height:62px; line-height:53px; text-align:center; color:#fff; font-size:28px; margin:4px 0;}

.con02_4 .box_btns .btn01 { background:url(./images/gppsq_QQbtn01.png) 0 0 no-repeat;}

.con02_4 .box_btns .btn02 { background:url(./images/gppsq_QQbtn03.png) 0 0 no-repeat;}

.con02_4 .box_btns .btn:hover ,.con02_4 .box_btns .btn a:hover {text-decoration:none; color:#ff0; opacity:0.9;}

.con02_4 .con_pcopy { float:right; margin-top:13px; height:38px; line-height:38px; border-radius:20px;}

.con02_4 .con_pcopy span,.con02_4 .con_pcopy a { height:36px; line-height:36px; border-radius:18px;}

/* con03 */

.con03 { width:830px; margin:0 auto; padding-top:75px;}

.con03 table {  width:830px; color:#505050; text-align:center; font-size:16px; border-radius:20px; overflow:hidden;}

.con03 table th,.con03 table td { height:40px; font-weight:normal;}

.con03 table th { background:#e0be8e;}

.con03 table td { background:#fff7db;}

.con03 dl { width:680px; margin:16px auto 0;}

.con03 dl dt { float:left; width:420px; text-align:center;}

.con03 .ptext { font-size:28px; line-height:30px; color:#333;}

.con03 .con_pcopy { margin:7px auto 0;}

.con03 .con_pcopy input { border:0; width:110px; text-align:center; padding:5px 0; height:18px; font-size:20px; color:#b63b00; background:none;}

.con03 dl dd,.con03 dl dd a { float:right; width:245px; height:62px; line-height:53px; text-align:center; color:#fff; font-size:28px;}

.con03 dl dd { margin-top:4px;}

.con03 dl dd a { background:url(./images/gppsq_QQbtn02.png) 0 0 no-repeat;}

.con03 dl dd a:hover { text-decoration:none; color:#ff0; opacity:0.9;}

/* footer */

.foot { padding-bottom:100px;}

/* 页面动态效果 */

.banner_h1 {-moz-animation:bounceInDown 2s .1s ease both;-webkit-animation:bounceInDown 2s .1s ease both;animation:bounceInDown 2s .1s ease both;}

.banner_h2,.banner_copy {-moz-animation:bounceInUp 3s .1s ease both;-webkit-animation:bounceInUp 3s .1s ease both;animation:bounceInUp 3s .1s ease both;}

.banner_bg {-moz-animation:bounceInDowns .6s .1s ease both;-webkit-animation:bounceInDowns .6s .1s ease both;animation:bounceInDowns .6s .1s ease both;}

.banner_star {-moz-animation:bounceInscale 4s .1s ease both;-webkit-animation:bounceInscale 4s .1s ease both;animation:bounceInscale 4s .1s ease both;}

.banner_btn {-moz-animation:bounceInUp 3.5s .1s ease both;-webkit-animation:bounceInUp 3.5s .1s ease both;animation:bounceInUp 3.5s .1s ease both;}

.banner_btn a {-moz-animation:bounceInbtn .8s 1.5s ease infinite;-webkit-animation:bounceInbtn .6s 1.5s ease infinite;animation:bounceInbtn .6s 1.5s ease infinite;}

@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-50px)}50%{opacity:0;-webkit-transform:translateY(-50px)}100%{opacity:1;-webkit-transform:translateY(0)}}

@-moz-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-50px)}50%{opacity:0;-webkit-transform:translateY(-50px)}100%{opacity:1;-webkit-transform:translateY(0)}}

@-webkit-keyframes bounceInUp{0%{opacity:0;-webkit-transform:translateY(50px)}50%{opacity:0;-webkit-transform:translateY(50px)}100%{opacity:1;-webkit-transform:translateY(0)}}

@-moz-keyframes bounceInUp{0%{opacity:0;-webkit-transform:translateY(50px)}50%{opacity:0;-webkit-transform:translateY(50px)}100%{opacity:1;-webkit-transform:translateY(0)}}

@-webkit-keyframes bounceInDowns{0%{opacity:1;-webkit-transform:translateY(-30px)}100%{opacity:1;-webkit-transform:translateY(0)}}

@-moz-keyframes bounceInDowns{0%{opacity:1;-moz-transform:translateY(-30px)}100%{opacity:1;-moz-transform:translateY(0)}}

@-webkit-keyframes bounceInUps{0%{opacity:1;-webkit-transform:translateY(30px)}100%{opacity:1;-webkit-transform:translateY(0)}}

@-moz-keyframes bounceInUps{0%{opacity:1;-moz-transform:translateY(30px)}100%{opacity:1;-moz-transform:translateY(0)}}

@-moz-keyframes bounceInscale{0%{opacity:0;-webkit-transform:scale(0.9,0.9)}70%{opacity:0;-webkit-transform:scale(0.9,0.9)}83%{opacity:1;-webkit-transform:scale(1,1)}89%{opacity:1;-webkit-transform:scale(1,1)}90%{opacity:0;-webkit-transform:scale(1,1)}91%{opacity:1;-webkit-transform:scale(1,1)}98%{opacity:1;-webkit-transform:scale(1,1)}99%{opacity:0;-webkit-transform:scale(1,1)}100%{opacity:1;-webkit-transform:scale(1,1)}}

@-webkit-keyframes bounceInscale{0%{opacity:0;-webkit-transform:scale(0.9,0.9)}70%{opacity:0;-webkit-transform:scale(0.9,0.9)}83%{opacity:1;-webkit-transform:scale(1,1)}89%{opacity:1;-webkit-transform:scale(1,1)}90%{opacity:0;-webkit-transform:scale(1,1)}91%{opacity:1;-webkit-transform:scale(1,1)}98%{opacity:1;-webkit-transform:scale(1,1)}99%{opacity:0;-webkit-transform:scale(1,1)}100%{opacity:1;-webkit-transform:scale(1,1)}}

@-webkit-keyframes bounceInbtn{0%{opacity:1;-webkit-transform:translateY(1px)}60%{opacity:1;-webkit-transform:translateY(-13px)}100%{-webkit-transform:translateY(-18)}}

@-moz-keyframes bounceInbtn{0%{opacity:1;-webkit-transform:translateY(1px)}60%{opacity:1;-webkit-transform:translateY(-13px)}100%{-webkit-transform:translateY(-18)}}